@* Partial: Footer *@
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2026 - Ejercicio5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
